@model InmobiliariaRB.Models.Catalogo.ProvinciasView
@{
    IEnumerable<SelectListItem> estadosProvincia = new List<SelectListItem>
    {
        new SelectListItem{ Value = "1", Text = "Activo" },
        new SelectListItem{ Value = "0", Text = "Inactivo" }
    };
}
<h2>@ViewBag.Title.</h2>
<h4 id="mensajeError" class="text-danger" style="display:@(string.IsNullOrEmpty(ViewBag.MessageError) ? "none" : string.Empty)">@ViewBag.MessageError.</h4>
<h4 id="mensajeExito" class="text-info" style="display:@(string.IsNullOrEmpty(ViewBag.Message) ? "none" : string.Empty)">@ViewBag.Message.</h4>
<div class="row">
    <div class="col-md-11">
        <section id="permisosForm">
            <script type="text/javascript">
                function onRowSelectedProvincia() {
                    var selectedRow;
                    var grid = this;

                    grid.select().each(function () {
                        selectedRow = grid.dataItem($(this));
                    });

                    $('#cancelar').show();
                    document.getElementById('guardar').disabled = 'disabled';
                    document.getElementById('eliminar').disabled = 'disabled';
                    document.getElementById('actualizar').disabled = '';

                    $('#EstadoProvincia').data('kendoComboBox').enable(false);

                    $('#IdProvincia').val(selectedRow.IDPROVINCIA);
                    $('#CodProvincia').val(selectedRow.CODPROVINCIA);
                    $('#NombreProvincia').val(selectedRow.NOMBREPROVINCIA);
                    $('#EstadoProvincia').data('kendoComboBox').value(selectedRow.ESTADOPROVINCIA ? "1" : "0");
                    $('#EstadoProvinciaOriginal').val(selectedRow.ESTADOPROVINCIA);

                    if (!selectedRow.ESTADOPROVINCIA) {
                        $('#EstadoProvincia').data('kendoComboBox').enable(true);
                    } else {
                        document.getElementById('eliminar').disabled = '';
                    }
                }

                function cancelarEdicionProvincia() {
                    $('#cancelar').hide();
                    document.getElementById('guardar').disabled = '';
                    document.getElementById('actualizar').disabled = 'disabled';
                    document.getElementById('eliminar').disabled = 'disabled';

                    $('#EstadoProvincia').data('kendoComboBox').enable(false);

                    $('#IdProvincia').val(0);
                    $('#CodProvincia').val('');
                    $('#NombreProvincia').val('');
                    $('#EstadoProvincia').data('kendoComboBox').value("0");
                    $('#EstadoProvinciaOriginal').val('');
                }

                function actualizarProvincia() {
                    var idProvinciaParam = $('#IdProvincia').val();
                    var codProvinciaParam = $('#CodProvincia').val();
                    var nombreProvinciaParam = $('#NombreProvincia').val();
                    var estadoProvinciaParam = $('#EstadoProvincia').data('kendoComboBox').value();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ActualizarProvincia", "Catalogo")',
                        data: { idProvincia: idProvinciaParam, codProvincia: codProvinciaParam, nombre: nombreProvinciaParam, estado: estadoProvinciaParam },
                        success: function (result) {
                            if (result == "") {
                                cancelarEdicionProvincia();
                                cargarGrid();
                            }
                        },
                        error: function (err) {
                            alert('Error al actualizar provincia: ' + err.responseJSON);
                        }
                    });
                }

                function guardarProvincia() {
                    var codProvinciaParam = $('#CodProvincia').val();
                    var nombreProvinciaParam = $('#NombreProvincia').val();

                    if (codProvinciaParam == "" || nombreProvinciaParam == "") {
                        alert("Existen campos vacios, llenalos para continuar.")
                    } else {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GuardarProvincia", "Catalogo")',
                            data: { codProvincia: codProvinciaParam, nombre: nombreProvinciaParam },
                            success: function (result) {
                                if (result == "") {
                                    cancelarEdicionProvincia();
                                    cargarGrid();
                                }
                            },
                            error: function (err) {
                                alert('Error al guardar provincia: ' + err.responseJSON);
                            }
                        });
                    }
                }

                function eliminarProvincia() {
                    var idProvinciaParam = $('#IdProvincia').val();

                    if (idProvinciaParam == "") {
                        alert("No ha seleccionado ningun registro para eliminar.")
                    } else {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("EliminarProvincia", "Catalogo")',
                            data: { idProvincia: idProvinciaParam },
                            success: function (result) {
                                if (result == "") {
                                    cancelarEdicionProvincia();
                                    cargarGrid();
                                }
                            },
                            error: function (err) {
                                alert('Error al eliminar provincia: ' + err.responseJSON);
                            }
                        });
                    }
                }

                function cargarGrid() {
                    $('#GridProvincias').data('kendoGrid').dataSource.read();
                }
            </script>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table style="width: 80%">
                    <tr>
                        <td colspan="3">
                            @(
                                Html.Kendo()
                                .Grid<InmobiliariaRB.Model.Shared.Provincia>()
                                .Name("GridProvincias")
                                .Columns(c =>
                                {
                                    c.Bound(col => col.IDPROVINCIA).Hidden();
                                    c.Bound(col => col.CODPROVINCIA).Title("Código");
                                    c.Bound(col => col.NOMBREPROVINCIA).Title("Nombre");
                                    c.Bound(col => col.ESTADOPROVINCIA).Title("Estado").ClientTemplate("#: ESTADOPROVINCIA ? 'Activo' : 'Inactivo' #");
                                })
                                .Selectable()
                                .DataSource(dataBinding => dataBinding.Ajax()
                                    .Read("CargarGridProvincias", "Catalogo"))
                                .Events(events => events.Change("onRowSelectedProvincia"))
                                .Scrollable()
                            )
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%">
                            Código:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.CodProvincia, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CodProvincia, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nombre:
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.NombreProvincia, new { style = "width:100%; height:80%", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NombreProvincia, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Estado:
                        </td>
                        <td>
                            @Html.Kendo().ComboBoxFor(model => model.EstadoProvincia).BindTo(new SelectList(estadosProvincia, "Value", "Text")).Enable(false)
                        </td>
                    </tr>
                </table>
                <hr />
                <table>
                    <tr>
                        <td>
                            <input type="button" id="guardar" value="Guardar" class="btn btn-default" onclick="guardarProvincia()" />
                            <input type="button" id="actualizar" value="Actualizar" class="btn btn-default" disabled onclick="actualizarProvincia()"/>
                            <input type="button" id="eliminar" value="Eliminar" class="btn btn-default" disabled onclick="eliminarProvincia()"/>
                            <input type="button" id="cancelar" value="Cancelar" class="btn btn-default" onclick="cancelarEdicionProvincia()" style="display:none" />
                            <input type="button" id="limpiar" value="Limpiar" class="btn btn-default" onclick="cancelarEdicionProvincia()" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(m => m.IdProvincia)
                @Html.HiddenFor(m => m.EstadoProvinciaOriginal)
            }
        </section>
    </div>
</div>