@model InmobiliariaRB.Models.Administracion.PropiedadesView
@{
    IEnumerable<SelectListItem> estados = new List<SelectListItem>
{
        new SelectListItem{ Value = "1", Text = "Activo" },
        new SelectListItem{ Value = "0", Text = "Inactivo" }
    };
}
<h2>@ViewBag.Title.</h2>
<h4 id="mensajeError" class="text-danger" style="display:@(string.IsNullOrEmpty(ViewBag.MessageError) ? "none" : string.Empty)">@ViewBag.MessageError.</h4>
<h4 id="mensajeExito" class="text-info" style="display:@(string.IsNullOrEmpty(ViewBag.Message) ? "none" : string.Empty)">@ViewBag.Message.</h4>
<div class="row">
    <div class="col-md-11">
        <section id="permisosForm">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#guardar').click(function () {
                        $('form').attr('Action', '/Administracion/GuardarPropiedad');
                    });

                    $('#actualizar').click(function () {
                        $('form').attr('Action', '/Administracion/ActualizarPropiedad');
                    });

                    $('#eliminar').click(function () {
                        $('form').attr('Action', '/Administracion/EliminarPropiedad');
                    });

                    $('#limpiar').click(function () {
                        $('form').attr('Action', '/Administracion/Propiedades');
                    });
                })

                function onRowSelectedPropiedad() {
                    var selectedRow;
                    var grid = this;

                    grid.select().each(function () {
                        selectedRow = grid.dataItem($(this));
                    });

                    $('#cancelar').show();
                    document.getElementById('guardar').disabled = 'disabled';
                    document.getElementById('eliminar').disabled = 'disabled';
                    document.getElementById('actualizar').disabled = '';

                    $('#EstadoPropiedad').data('kendoComboBox').enable(false);

                    debugger;

                    $('#IdPropiedad').val(selectedRow.IDPROPIEDAD);
                    $('#IdPropietario').data('kendoComboBox').value(selectedRow.IDPROPIETARIO);
                    $('#IdProvincia').data('kendoComboBox').value(selectedRow.IDPROVINCIA);
                    $('#IdTipoPropiedad').data('kendoComboBox').value(selectedRow.IDTIPOPROPIEDAD);
                    $('#Precio').val(selectedRow.PRECIO);
                    $('#EstadoPropiedad').data('kendoComboBox').value(selectedRow.ESTADOPROPIEDAD ? "1" : "0");
                    $('#EstadoPropiedadOriginal').val(selectedRow.ESTADOPROPIEDAD);

                    //Caracteristicas
                    $('#Caracteristica_IDCARACTERISTICA').val(selectedRow.IDCARACTERISTICA);
                    $('#Caracteristica_METROSCUADRADOS').val(selectedRow.METROSCUADRADOS);
                    $('#Caracteristica_PLANTAS').val(selectedRow.PLANTAS);
                    $('#Caracteristica_BANIOS').val(selectedRow.BANIOS);
                    $('#Caracteristica_HABITACIONES').val(selectedRow.HABITACIONES);
                    $('#Caracteristica_PARQUEADEROS').val(selectedRow.PARQUEADEROS);
                    $('#Caracteristica_SERVICIOS').val(selectedRow.SERVICIOS);
                    $('#Caracteristica_OTROS').val(selectedRow.OTROS);

                    if (!selectedRow.ESTADOPROPIEDAD) {
                        $('#EstadoPropiedad').data('kendoComboBox').enable(true);
                    } else {
                        document.getElementById('eliminar').disabled = '';
                    }
                }

                function cancelarEdicionPropiedad() {
                    $('#cancelar').hide();
                    document.getElementById('guardar').disabled = '';
                    document.getElementById('actualizar').disabled = 'disabled';
                    document.getElementById('eliminar').disabled = 'disabled';

                    $('#EstadoPropiedad').data('kendoComboBox').enable(false);

                    $('#IdPropiedad').val(0);
                    $('#IdPropietario').data('kendoComboBox').value("0");
                    $('#IdProvincia').data('kendoComboBox').value("0");
                    $('#IdTipoPropiedad').data('kendoComboBox').value("0");
                    $('#Precio').val('');
                    $('#EstadoPropiedad').data('kendoComboBox').value("0");
                    $('#EstadoPropiedadOriginal').val('');

                    $('#Caracteristica_IDCARACTERISTICA').val(0);
                    $('#Caracteristica_METROSCUADRADOS').val('');
                    $('#Caracteristica_PLANTAS').val('');
                    $('#Caracteristica_BANIOS').val('');
                    $('#Caracteristica_HABITACIONES').val('');
                    $('#Caracteristica_PARQUEADEROS').val('');
                    $('#Caracteristica_SERVICIOS').val('');
                    $('#Caracteristica_OTROS').val('');
                }
            </script>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table style="width: 80%">
                    <tr>
                        <td colspan="3">
                            @(
                                Html.Kendo()
                                .Grid<InmobiliariaRB.Model.Shared.Propiedad>()
                                .Name("GridPropiedades")
                                .Columns(c =>
                                {
                                    c.Bound(col => col.IDPROPIEDAD).Hidden();
                                    c.Bound(col => col.NOMBRETIPOPROPIEDAD).Title("Tipo");
                                    c.Bound(col => col.NOMBREPROVINCIA).Title("Provincia");
                                    c.Bound(col => col.PRECIO).Title("Precio");
                                    c.Bound(col => col.FECHAREGISTROPROPIEDAD).Title("Fecha Registro");
                                    c.Bound(col => col.ESTADOPROPIEDAD).Title("Estado").ClientTemplate("#: ESTADOPROPIEDAD ? 'Activo' : 'Inactivo' #");
                                })
                                .Selectable()
                                .DataSource(dataBinding => dataBinding.Ajax()
                                    .Read("CargarGridPropiedades", "Administracion"))
                                .Events(events => events.Change("onRowSelectedPropiedad"))
                                .Scrollable()
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Propietario:
                        </td>
                        <td>
                            @Html.Kendo().ComboBoxFor(model => model.IdPropietario).BindTo(new SelectList(Model.Propietarios, "IDPROPIETARIO", "NOMBREPROPIETARIO"))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tipo Propiedad:
                        </td>
                        <td>
                            @Html.Kendo().ComboBoxFor(model => model.IdTipoPropiedad).BindTo(new SelectList(Model.TiposPropiedades, "IDTIPOPROPIEDAD", "NOMBRETIPOPROPIEDAD"))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Provincia:
                        </td>
                        <td>
                            @Html.Kendo().ComboBoxFor(model => model.IdProvincia).BindTo(new SelectList(Model.Provincias, "IDPROVINCIA", "NOMBREPROVINCIA"))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Precio:
                        </td>
                        <td>
                            @Html.Kendo().TextBoxFor(m => m.Precio)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Estado:
                        </td>
                        <td>
                            @Html.Kendo().ComboBoxFor(model => model.EstadoPropiedad).BindTo(new SelectList(estados, "Value", "Text")).Enable(false)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Carácteristicas
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Metros Cuadrados:
                            @Html.TextBoxFor(m => m.Caracteristica.METROSCUADRADOS, new { @class = "form-control" })
                        </td>
                        <td>
                            Plantas:
                            @Html.TextBoxFor(m => m.Caracteristica.PLANTAS, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Baños:
                            @Html.TextBoxFor(m => m.Caracteristica.BANIOS, new { @class = "form-control" })
                        </td>
                        <td>
                            Habitaciones:
                            @Html.TextBoxFor(m => m.Caracteristica.HABITACIONES, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Parqueaderos:
                            @Html.TextBoxFor(m => m.Caracteristica.PARQUEADEROS, new { @class = "form-control" })
                        </td>
                        <td>
                            Servicios:
                            @Html.TextAreaFor(m => m.Caracteristica.SERVICIOS, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Otros:
                        </td>
                        <td>
                            @Html.TextAreaFor(m => m.Caracteristica.OTROS, new { @class = "form-control" })
                        </td>
                    </tr>
                </table>
                <hr />
                <table>
                    <tr>
                        <td>
                            <input type="submit" id="guardar" value="Guardar" class="btn btn-default" />
                            <input type="submit" id="actualizar" value="Actualizar" class="btn btn-default" disabled />
                            <input type="submit" id="eliminar" value="Eliminar" class="btn btn-default" disabled />
                            <input type="button" id="cancelar" value="Cancelar" class="btn btn-default" onclick="cancelarEdicionPropiedad()" style="display:none" />
                            <input type="submit" id="limpiar" value="Limpiar" class="btn btn-default" />
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(m => m.IdPropiedad)
                @Html.HiddenFor(m => m.Caracteristica.IDCARACTERISTICA)
                @Html.HiddenFor(m => m.EstadoPropiedadOriginal)
            }
        </section>
    </div>
</div>